<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Suvidha</title>
  </head>
  <body>
    <div class="container1">
      <div class="nav1">
        <img src="images/SUVIDHA logo.png" alt="" />
        <h1>SUVIDHA</h1>
      </div>

      <div class="nav2">
        <a href=""><button>Home</button></a>
        <a href=""><button>Help</button></a>
        <a href="/contact"><button>Contact</button></a>
      </div>
      <div class="nav3">
        <a href="/login"><button>Admin</button></a>
      </div>
    </div>
    <div class="container2">
      <div class="section1">
        <h2>Namaste, welcome to Suvidha.</h2>
        <h1>Farmer's Eqipments at reasonable</h1>
        <h3>and affordable prices.</h3>
        <h5>Start now with just one click.</h5>
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a>
      </div>
      <div class="section2">
        <div class="section">
          <h1>HOW KRISHI SUVIDHA WORKS?</h1>
          <h2>TAKE A LOOK AT OUR PLATFORM DEMO:</h2>
          <ol type="1">
            <li>Sign-up to the platform.</li>
            <li>Provide equipment details.</li>
            <li>Explore and filter lists of equipment.</li>
            <li>Check an available time slot.</li>
            <li>Chat with the owner and make a booking..</li>
            <li>Stay updated by SMS.</li>
          </ol>
        </div>
        <div class="sub1">
          <img src="images/laptop image icon1.png" alt="" />
        </div>
      </div>
      <div class="section3">
        <h1>Our Services</h1>
        <p>
          Following are the services that Suvidha market provides for Farmers:
        </p>
        <img src="images/Services.png" alt="" />
      </div>
      <div class="section4">
        <div class="statsmain">
          <div class="stats1">
            <img src="images/people.png" alt="" />
            <h1>INR 954.3 Billion</h1>
            <p>Agriculture Equipment
              Market Value</p>
          </div>
          <div class="stats2">
            <img src="images/people1.png" alt="">
            <h1>INR 10,218</h1>
            <p>Farmer's Average
              Monthly Income</p>
          </div>
          <div class="stats3">
            <img src="images/Frame3.png" alt="">
            <h1>16% of Crop value</h1>
            <p>Average Equipment Investments</p>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer-distributed">

			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="#">Home</a>

					<a href="#">Blog</a>

					<a href="#">Pricing</a>

					<a href="#">About</a>

					<a href="#">Faq</a>

					<a href="contact.html">Contact</a>
				</p>

				<p class="company">FMA &copy; 2022</p>
			</div>

		</footer>
  </body>
</html>
